$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';
@import './images.scss';
@import './variables.scss';
@import './forms.scss';

body {
    background: $LT-beige;
}

.megatron {

    text-align:center;
    padding-top: 140px;

    h1{
        font-size: $font-size-x-large;
        text-transform: uppercase;
        padding-bottom: 100px;
    }

    .category {
        position: relative;
        cursor: pointer;

        &:hover {
            background-color: $LT-purple;
            color: #fff;
        }
        h2 {
            a{
                color:inherit;
                &:hover{
                    text-decoration: none;
                }
            }
            font-family: $font-family-base;
            text-transform: uppercase;
            width: 50%;
            height: 50%;
            overflow: auto;
            margin: auto;
            position: absolute;
            top: 0; left: 0; bottom: 0; right: 0;
            text-align: left;
            text-shadow: 1px 1px 5px $LT-beige;
        }
        background-color: $LT-blue;
        height:200px;
        margin-bottom:20px;
    }
}

footer{
    position:absolute;
    bottom:0px;
    padding:20px;
}

.generate .row {
    margin-bottom:50px;

    .programTables{
        margin-top:70px;
    }
}



/* Nav */
#navigationArea nav{

    background-color: $LT-purple;
    border-radius: 0;
    border:none;
    
    .popover{
        width: 300px;
        left: inherit !important;
        right: 0px;
        .arrow {
            left: 80%;
        }
    }

    .username-small{
        padding: 5px 0 0 0;
        margin-right: 40px;
    }
} 


/* Error messages */
.control-label {
    color : $LT-red;
}

/* Log workout */

.table tr {
    text-align: left;
}

.inputField {
    display:inline-block;
}

.loggedSet {
    display:block;
    margin-bottom:4px;
    
    input{
        height: 23px;
        padding: 4px;
        font-size: 12px;
        background: rgba(204, 204, 204, 0.24);
        text-align: center
    }
}
