@import 'sass-bootstrap/lib/_variables.scss';

$font-size-x-large:	ceil($font-size-base * 6) !default;


// Colors
$LT-beige:	#FFFBE8;
$LT-purple:	#3D3446;
$LT-blue:	#31C6CE;
$LT-brown:	#EFB482;
$LT-red:	#F1564F;


.large-gap {
	width:100%;
	height: 100px;
}

.medium-gap {
	width:100%;
	height: 50px;
}

.large-border-right {
	border-right: 2px solid;
}