<div class="programTable">
  <p class="lead dayTitle" data-id="{{dayCount}}" contenteditable="true">Day Title</p>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Exrecise</th>
        <th>Sets x Reps</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>



