<div class="container generate">
	<div class="row">
		<form role="form" class="form-inline">
			<div class="form-group">
				<input type="text" class="form-control" id="programTitle" placeholder="Program Title">
			</div>

			<button type="submit" id="addDayBtn" class="btn btn-success">Add A Day</button>
		</form>
	</div>


	<div class="row addDayForm">
		<form class="form-inline exerciseForm" role="form">
			<div class="form-group">
				<label class="sr-only" for="exercice">Exercise</label>
				<input type="text" class="form-control exercise" placeholder="Enter Exercice">
			</div>
			<div class="form-group">
				<label class="sr-only" for="setsNReps">Sets x Reps</label>
				<input type="text" class="form-control setsNReps" placeholder="Sets x Reps">
			</div>
			<button type="submit" class="btn btn-default nextExercise">Next</button>
		</form>
	</div>

	<div class="row programTables">
	</div>


	<div class="row">
		<button id="saveBtn" class="btn btn-success">Save Workout Program</button>
	</div>
</div>

