 <div class="inner">
    <div class="row">
        <div class="col-lg-4">
            <div class="category">
                <h2><a href="#/generateProgram">Generate Workout Program</a></h2>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="category">
                <h2>Generate Nutrition Program</h2>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="category">
                <h2><a href="#/logWorkout">Log Workout</a></h2>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4">
            <div class="category">
                <h2>Upload Shape Snapshot</h2>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="category">
                <h2>Log Body Stats</h2>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="category">
                <h2><a href="#/viewProgress">View Progress</a></h2>
            </div>
        </div>
    </div>
</div>