<header>
	<h3>Add Log Entrance <small>({{dateFormat date "short"}})</small></h3>
</header>

<section>
	<form class="form-horizontal" role="form">
		<div class="form-group">
		<label for="weight" class="col-sm-2 control-label">Weight</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="weight" placeholder="Weight">
			</div>
		</div>
		<div class="form-group">
			<label for="gunsize" class="col-sm-2 control-label">Gun Size</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="gunsize" placeholder="Gun Size">
			</div>
		</div>

		<div class="form-group">
			<label for="abs" class="col-sm-2 control-label">Abs Size</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="abs" placeholder="Abs Size">
			</div>
		</div>

		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button type="submit" class="btn btn-success">Done</button>
			</div>
		</div>
	</form>
</section>


