<div id="leModal" class="modal fade">
<div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <h1>Success!</h1>
        <p class="lead">{{programTitle}}</p>
        <p>Was created. Time to lift.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Yeah</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->