<nav class="navbar navbar-default" role="navigation">

	<ul id="userArea" class="nav navbar-nav navbar-right">
		<li></li>
		<li>
	<form class="navbar-form navbar-right" role="search">
      	<a href="#" class="btn btn-success" id="login-btn" role="button">Login</a>
    </form>
    </li>
    </ul>
</nav>