<tr data-type="custom-ex">
<td><input type="text" data-el="title" placeholder="Title"></td>
 <td><input type="text" placeholder="Sets x reps"></td>
 <td>
   <div class="inputField">
    <input type="text" placeholder="sets X reps" data-el="setsnreps" class="form-control">
  </div>
</td>
</tr>
