<header><h3>Update profile</h3></header>
<section>
<form class="form-horizontal" role="form">
	<div class="form-group has-success">
	<label for="username" class="col-sm-2 control-label">Username</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" id="username" placeholder="{{user.username}}">
		</div>
	</div>

	<div class="form-group has-success">
	<label for="email" class="col-sm-2 control-label">Email</label>
		<div class="col-sm-10">
			<input type="email" class="form-control" id="email" placeholder="{{user.email}}">
		</div>
	</div>

	<div class="form-group has-success">
	<label for="country" class="col-sm-2 control-label">Country</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" id="country" placeholder="{{user.country}}">
		</div>
	</div>

	<div class="form-group has-success">
	<label for="birth" class="col-sm-2 control-label">Year of birth</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" id="birth" placeholder="{{user.birth}}">
		</div>
	</div>

	<button type="submit" class="btn btn-success">Save</button>
</form>
</section>