<table id="logTable" class="table table-striped">
	<thead>
		<tr>
			<th>Exercise</th>
			<th>KG x Reps</th>
		</tr>
	</thead>
	<tbody>
		{{#each ex}}
		<tr>
			<td>{{exTitle}}</td>

			<td>
				{{#each sets}}
				<p>{{kg}}kg X {{reps}}</p>
				{{/each}}
			</td>
			
		</tr>
		{{/each}}

	</tbody>

</table>
