lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules
public/app/bower_components
public/.sass-cache
public/.tmp
public/Gruntfile.js
public/package.json
public/components
